.pageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;  
  background-image: url('../../../assets/images/changePassword.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.formContainer {
  border: 1px solid white;
  padding: 1em;
  border-radius: 20px;;
  z-index: 2000;
}

.formGroup {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 0.8em;
}

.input {
  width: 100%;
}

.resetPasswordBtn {
    margin: 2em;
}