.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000;
  background-color: transparent !important;
}


.navMenu {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
}

.navItem {

  margin-bottom: 0.4em;
}

.navItem a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: 800;
  font-family: 'Alumni Sans', sans-serif;
}

.navItem a:hover {
    color: rgba(187, 39, 26, 0.9);
}

.ma-toggler-white
 {
  border: 2px solid white;
}

.ma-toggler-white:active,
.ma-toggler-white:focus {
  outline: none;
  box-shadow: none;
}

i {
  color: white;
 }

 .logoutBtn {
    width: 100%;
    font-size: 0.8rem;
 }


