.passwordResetLink {
  color: rgba(187, 39, 26); 
  text-decoration: none; 
}

.passwordResetLink:hover {
  color: red; 
  text-decoration: underline; 
}

.formContainer {
  width: 90vw; 
  background-color: white;
  padding: 1em;
  border-radius: 20px;
  height: 50%;

}

.circleBtn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 50px;
  right: 10px;
  border-radius: 50%;
}




