.modalOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); 
  z-index: 3000; 
  cursor: pointer;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.6em;
}

.passwordResetLink {
  color: rgba(187, 39, 26); 
  text-decoration: none; 
}

.passwordResetLink:hover {
  color: red; 
  text-decoration: underline; 
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%; 
  background-color: #d9d9d9;
  padding: 1em;
  border-radius: 20px;
  height: 70%;

}

.circleBtn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 50px;
  right: 10px;
  border-radius: 50%;
}



.loginInput {
justify-self: flex-start;
}

.loginBtn {
  margin-top: 5em;
  width: 40%;
}


.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



/* Plus grands écrans */
@media screen and (min-width: 1400px) {
  .formContainer {
    width: 35%;     
  }

  .loginBtn { 
    width: 30%;
  }

  .circleBtn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 450px;
    border-radius: 50%;
  }
}

/* Grands écrans de bureau */
@media screen and (max-width: 1399px) and (min-width: 1201px) {
  .formContainer {
    width: 40%;     
  }

  .loginBtn { 
    width: 40%;
  }
}

/* Tablettes et petits écrans de bureau */
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .formContainer {
      width: 45%;     
    }

    .circleBtn {
      right: 200px;  
    }
}

/* Tablettes en orientation portrait et grands mobiles */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .formContainer {
      width: 50%;     
    }

    .loginBtn { 
      width: 40%;
    }

    .circleBtn {
      right: 180px;  
    }

    .formGroup {
      width: 70%;
    }
}

/* Appareils mobiles en orientation paysage */
@media screen and (max-width: 767px) and (min-width: 576px) {

  .formContainer {
    width: 70%;     
  }

  .loginBtn {
    width: 40%;
  }

  .circleBtn {
    right: 80px;  
  }

  .formGroup {
    width: 70%;
  }

}
