.redBtn, .whiteBtn {
  border-radius: 50px;
  font-weight: 400;
  padding: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: 'Anek Tamil', sans-serif;
}

/*Button style*/
.redBtn { 
    background-color: rgba(187, 39, 26, 0.9);
    border: none;
    color: white;    
}

.whiteBtn {
    background-color: white;
    color: rgba(187, 39, 26);
    font-weight: 600;
    border: 1px solid rgba(187, 39, 26, 0.9);
}

/*Button :hovver Style*/
.redBtn:hover{
  background-color: white;
  color: rgba(187, 39, 26, 0.9);
  font-weight: 600;
  
}
.whiteBtn:hover {
    background-color: rgba(187, 39, 26, 0.9);
    font-weight: 600;
   
}