


footer, .schedulesTitle, .adressTitle, .schedulesContainer ul, .adress, .phone, .contactContainer > button {
  position: relative;
}

.opacityFooter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh; 
    background-image: url('../../assets/images/footer.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.schedulesContainer {
  text-align: center;
  
}

.schedulesTitle, .adressTitle{
  font-family: 'Alumni Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  z-index: 2000;
}

.schedulesContainer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em ; 
    padding: 0;
    margin: 0;
    list-style-type: none; 
    z-index: 2000;
}

.schedulesContainer li {
  color: white;
    box-sizing: border-box; 
    font-size: 0.8rem;
    font-family: 'Anek Tamil', sans-serif;
}

.adressContainer {
  text-align: center;
  background-color: rgba(187, 39, 26, 0.8);
  padding: 0.8em;
  border-radius: 20px;;
}

.adress, .phone {
    color: white;
    font-family: 'Anek Tamil', sans-serif;
    font-weight: 400;
    z-index: 2000;
}

.footerBtn {
  text-align: center;
}

.footerBtn > button {
  width: 40vw;
  z-index :2000;

}


@media screen and (min-width: 1400px) {
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footerBtn > button {
    width: 15vw;
    font-size: 1.1rem;
  }

  .footerBtn {
    width: 25%;
  }

  .adressContainer {
    width: 25%;
  }

  .schedulesContainer li {
    font-size: 1rem;
  }

  .schedulesTitle, .adressTitle{
    font-size: 1.8rem;
  }

  .adress, .phone {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1201px) {
 
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .footerBtn > button {
      width: 15vw;
      font-size: 1.1rem;
    }

    .footerBtn {
      width: 25%;
    }

    .adressContainer {
      width: 25%;
    }

    .schedulesContainer li {
      font-size: 1rem;
    }

    .schedulesTitle, .adressTitle{
      font-size: 1.8rem;
    }

    .adress, .phone {
      font-size: 1.1rem;
    }
}


@media screen and (max-width: 1200px) and (min-width: 992px) {

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .footerBtn > button {
      width: 15vw;
      font-size: 1.1rem;
    }

    .footerBtn {
      width: 25%;
    }

   .adressContainer {
      width: 25%;
      padding: 0.4em;
    }
}


@media screen and (max-width: 991px) and (min-width: 768px) {

    .footerBtn > button {
        width: 20vw;
        font-size: 1.1rem;;
    }

    .schedulesContainer ul {
      grid-gap: 1em;
      
    }

    .schedulesContainer {
      text-align: center;
    }

    .footerBtn {
      text-align: center;  
    }

    .schedulesContainer li {
      font-size: 0.9rem;
    }

    .schedulesTitle, .adressTitle{
      font-size: 1.8rem;
    }

    .adress, .phone {
      font-size: 1.1rem;
    }
}


@media screen and (max-width: 767px) and (min-width: 576px) {
  
    .footerBtn > button {
      width: 30vw; 
    }

    .schedulesContainer li {
      font-size: 1rem;
    }

    .schedulesContainer ul {
      grid-gap: 1em;
      
    }

    .schedulesTitle, .adressTitle{
      font-size: 1.8rem;
    }

    .adress, .phone {
      font-size: 1.1rem;
    }
}

