.modalOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px); 
  z-index: 3000; 
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background-color: rgba(187, 39, 26, 0.7);
  border-radius: 20px; 
  padding: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
}


.formGroup {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
}

.testimonyInput {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.createTestimonyBtn {
  margin-top: 2em;
}


.closeBtn {
  position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 10px;
    border-radius: 50%;
}

.closeBtn:focus {
  outline: none; 
}

.createTestimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.submitTestimony {
  margin-top: 1.5em;
}





/* Plus grands écrans */
@media screen and (min-width: 1400px) {

    .formContainer {
      width: 45vw;
      padding: 1em;   
    }

    .createTestimony {
        width: 70%;
    }

}

/* Grands écrans de bureau */
@media screen and (max-width: 1399px) and (min-width: 1201px) {

    .formContainer {
      width: 45vw;
      padding: 1em;   
    }

    .createTestimony {
        width: 70%;
    }


}

/* Tablettes et petits écrans de bureau */
@media screen and (max-width: 1200px) and (min-width: 992px) {

    .formContainer {
      width: 55vw;
      padding: 1em;   
    }

    .createTestimony {
        width: 70%;
    }
 
}

/* Tablettes en orientation portrait et grands mobiles */
@media screen and (max-width: 991px) and (min-width: 768px) {

    .formContainer {
      width: 65vw;
      padding: 1em;   
    }

    .createTestimony {
        width: 80%;
    }

}

/* Appareils mobiles en orientation paysage */
@media screen and (max-width: 767px) and (min-width: 576px) {

  .formContainer {
      width: 70vw;
      padding: 1em;   
  }

  .createTestimony {
      width: 70%;
  }
  



}
