.articleRepairContainer {
  width: 100vw;
  background: #D9D9D9;
}

.repairIntroduction, .repairConclusion, .mecaniqueIntro, .carrosserieIntro, .carrosserieConclusion {
  text-align: justify;
  font-family: 'Anek Tamil', sans-serif;
  padding: 2em;
}


.mecaniqueSection, .carrosserieSection {
    text-align: center;
}