.modalOverlay {

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px); 
  z-index: 3000; 
  cursor: pointer;

}

.schedulesModal {
  width: 90%;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  padding: 2em;
  color: white;
  background-color: rgba(187, 39, 26, 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.schedulesModalTitle {
  font-size: 1.5rem;
  font-family: 'Alumni Sans', sans-serif;
}

.hoursContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1em;

}

.hoursSectionTitle {
  font-size: 1.3rem;
  font-family: 'Anek Tamil', sans-serif; 
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0.3em;
}

.inputSchedule {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.captchaContainer {
  width: 10%;
  text-align: center;
}

