/*TESTIMONIES SECTION*/

.testimoniesSection {
 
  padding-top: 2em;
  background-color: #EEEEEE;

}


/*ICON SECTION*/

.iconSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image: url('../../../assets/images/homePage/iconBackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.IconOpacityLayer {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1000; 
}

.iconContainer {
  position: relative;
  padding: 2em;
  z-index: 2000;
}

.iconTitle, .iconContent, .iconConclusion{
  position: relative;
  color: white;
  z-index: 2000;

}

.iconTitle {
  font-family: 'Alumni Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

}

.iconContent {
  text-align: justify;
  font-size: 0.9rem;
  font-family: 'Anek Tamil', sans-serif;
  padding: 0.8em;

}

.icon {
  margin-top: 0.5em;
  position: relative;
  width: 80px;
  z-index: 2000;
}

.iconConclusion {  
  text-align: justify;
  font-family: 'Anek Tamil', sans-serif;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 1.5em;
  margin: auto;   
}

.iconeBtnContainer {
  text-align: center;
  margin: 2em;
  width: 100%;
}

.iconBtn {
  position: relative;
  width: 50%;
  margin-top: 2em;
  z-index: 2000;
}

/*ICON SECTION QUERIES*/

@media (min-width: 1400px) {

    .iconsContainer {    
      display: flex;
      justify-content: space-around;
      width: 100vw;
      text-align: center;
      margin-top: 2em;;
    }

    .icon {
        width: 80px;
    }

    .iconContent {
      width: 20vw;;
    }

    .iconConclusion {
      width: 50%;
      margin-top: 1.5em;
    }

    .iconBtn {
      width: 20%;
    }
}

@media screen and (max-width: 1399px) and (min-width: 1201px) {


  .iconsContainer {    
    display: flex;
    justify-content: space-around;
    width: 100vw;
    text-align: center;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .iconConclusion {
    width: 70%;
    margin-top: 2em;
  }

  .iconContent {
    width: 30vw;
  }

  .iconBtn {
    width: 20%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

  .iconsContainer {    
    display: flex;
    justify-content: space-around;
    width: 100vw;
    text-align: center;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .iconConclusion {
    width: 70%;
    margin-top: 2em;
  }

  .iconContent {
    width: 30vw;
  }

  .iconBtn {
    width: 20%;
  } 
}

@media screen and (max-width: 991px) and (min-width: 768px) {

  .iconsContainer {    
    display: flex;
    justify-content: space-around;
    width: 100vw;
    text-align: center;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .iconConclusion {
    width: 90%;
    margin-top: 2em;
  }

  .iconContent {
    width: 30vw;
  }

  .iconBtn {
    width: 20%;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {

  .iconsContainer {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .iconConclusion {
    width: 80%;
    margin-top: 2em;
  }

  .iconContent {
    width: 40vw;
  }

  .iconBtn {
    width: 20%;
  }
}
  
@media screen and (max-width: 575px) {

  .iconsContainer {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .iconConclusion {
    width: 90%;
    margin-top: 2em;
  }

  .iconContent {
    width: 50vw;
  }

  .iconBtn {
    width: 30%;
  }
 


}












