.carsCardGrid {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 3em;
}

.noCars {
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Anek Tamil', sans-serif;
  font-weight: 600;
  color: rgba(187, 39, 26, 0.9);
  padding: 0.5em;
  margin-bottom: 2em;
  border: 1px solid rgba(187, 39, 26, 0.9);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



@media screen and (min-width: 1400px) {

  .carsCardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
    padding: 2em; 
  }

}


@media screen and (max-width: 1399px) and (min-width: 1201px) {

  .carsCardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
    padding: 1em;; 
  }

}


@media screen and (max-width: 1200px) and (min-width: 992px) {

  .carsCardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2em;
    justify-items: center;
    padding: 0; 
  }


}


@media screen and (max-width: 991px) and (min-width: 768px) {

  .carsCardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em;
    justify-items: center;
    padding: 0; 
  }

}


@media screen and (max-width: 767px) and (min-width: 576px) {

  .carsCardGrid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1em;
    justify-items: center;
    padding: 0; 
  }



}


