.moderationSectionTitle, .validateTestimoniesTitle, .rejectedTestimoniesTitle {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.validationInfo {
  text-align: center;
  font-family: 'Anek Tamil', sans-serif;
}

.validationCount {
  text-align: center;
  font-family: 'Anek Tamil', sans-serif;
}

.validationCount > strong {
  color: rgba(187, 39, 26);
}